Header{
    position: relative;
    padding: $side-padding-large;
    margin: 0px auto 40px;
    background: rgba(255, 255, 255, 0.01);
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.05);
    height: 100px;
    cursor: pointer;
    z-index: 3;
}
.clearfix{
    clear: both;
}

.headerSection{
    z-index: 3;
}

.logo{
    color: white;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    top: 18px;
}



.menu-toggle-open, .menu-toggle-close{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;    
}

.menu-toggle-open::before{
    content: '\f00d';

    font-family: fontAwesome;
    line-height: 40px;

}

.menu-toggle-close::before{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;


}

.blurrable{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
}

@media (max-width: $desktop-breakpoint){
    Header{
        padding: $side-padding-small;
    }

}

//This is for Header_dropDown
.menu-toggle-open{
    position: relative;
}
.menu{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
    overflow: hidden;
    z-index: 3;
    top: 100px; 
    left: 0;
}

.subMenu-close{
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: .2s ease-in-out;
    z-index: -1;
}

.subMenu-open{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: .2s ease-in-out;
    z-index: 3;
}

.hideOverflow{
    overflow: hidden;
}

.menuNav{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;

.menuDiv{
    margin: auto;
    width: 50%;

    ul{
        list-style: none;
        li{
            text-decoration: none;
            font-size: 2.9vw;
            text-align: left;
            line-height: 2em;

            a{
                color: white;
            }
            a.active{
                text-decoration: underline;
                font-weight: bold;
            }


        }
        li:hover{ 
            animation: pulse 1s infinite;
            animation-timing-function: linear;   
          }

    }
}
      
}

.bigDeviceNav {
    position: absolute;
    top: 42px;
    right: 110px;
}

.bigDeviceNav * {
    display: inline;
    margin: 11px;
    color: white;
}


.bigDeviceNav ul li{
    position: relative;
 }

.bigDeviceNav ul li:before{
    content: "";
    text-align: center;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -13px;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.bigDeviceNav ul li:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.bigDeviceNav ul li .active{
    font-weight: 700;
}

.bigDeviceNav ul li .active{
    content: "";
    position: relative;
    width: 100%;
    height: 2px;
    bottom: 0px;
    color: #fff;
}

.bigDeviceNav ul li .active:before{
    content: "";
    text-align: center;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -13px;
    background-color: #fff;
}

.Header_WithNav{
    display: block;
}

.Header_dropDown{
    display: none;
}

@media(max-width: $desktop-breakpoint){
    .menuDiv{
        width: 50%;
        margin-top: 50px;

        ul{
            li{
                font-size: 2em;

            }
        }

    }
}

@media(max-width: 950px){

    .Header_WithNav{
        display: none;
    }
    
    .Header_dropDown{
        display: block;
    }


}