body{
    width: 100%;
    height: 100vh;
    background: #0a1823;
}


section{
    top: 0px;
    left: 0px;
    width: 100%;
}

.HomePageMidSection{
    margin-bottom: $m-size;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.blob{
    width: 300px;
    height: 300px;
    background: white;
    animation: animate 5s linear infinite;
    padding: 10px;
    margin: 0 auto;
}
@keyframes animate{
    0%, 100%{
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
    }

    25%{
        border-radius: 50% 89% 50% 50% / 89% 46% 31% 76%;
    }
    50%{
        border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
    }
    75%{
        border-radius: 89% 46% 31% 76%/ 50% 89% 50% 50% ;
    }
}

.HomePageText{
    text-align: center;
    margin: $l-size;

    p{
        font-size: 2rem;
        margin-top: 50px;
    }
}

.personalImage{
    width: 100%;
    height: 100%;
}

.cartoon{
    background: url("./../images/Kofestar.png");
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
}

.otherPageCartoon{
    @extend .cartoon;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: white;
    border-radius: 100%;
    background-repeat: no-repeat;
}

@media(max-width: 577px){
    .HomePageText> h1{
        font-size: 6.0rem;
    }
}

.container-scroll {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 auto;
  }
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-size: 14px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
    margin: 0 auto;
    margin-top: 60px;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

  .clickToExplore{
      text-align: center;
      cursor: pointer;
  }

  @media(max-width: 577px){
    .clickToExplore{
        display: none;
    }
}

