
.spacetop{
    margin-top: 6em; 
}

.spacetop-2em{
    margin-top: 2em;
}

section{
    display: block;
}

.contact-page, .aboutme, .portfolio, .blog{

    .intro-header{
        display: flex;
        flex-direction: row;
    }

    .intro-header{
        
        h1 {
        flex: 1 1;
        display: block;
        font-size: 72px;
        line-height: 1.2em;
        font-weight: 300;
        color: #fff;
        margin-bottom: 40px;
        }
        h1::after {
            content: "";
            display: block;
            height: 2px;
            width: 210px;
            background-color: #fff;
            margin-top: 20px;
        }

        .html-content{
            flex: 1 1;
            display: block;
            margin-bottom: 40px;
            padding: 0;
            position: relative;

            p{
                font-size: 18px;
                line-height: 1.8em;
                font-weight: 300;
                color: #fff;
                margin-bottom: 10px;
            }
            P::before{
                content: " ";
                display: table;
            }
        }
    }

    .image-header{
        @extend .intro-header;

        h1:after{
            background-color: transparent;
        }
    }

    .form-container {
        margin: 100px 0 200px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        padding: 100px;
        border-radius: 4px;
        form {
            position: relative;
            z-index: 1;
        }
    }
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label.field {
        display: block;
        margin-bottom: 80px;
    }
    label.field.full-width {
        width: 100%;
    }

    .light label.field span {
        font-weight: 400;
        color: #000;
    }

    label.field span {
        display: block;
        font-size: 18px;
        line-height: 1.8em;
        font-weight: 300;
        color: #000;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 12.5px;
    }

    label.field input, label.field textarea {
        display: block;
        width: 100%;
        font-size: 18px;
        line-height: 1.33333;
        color: #0a1823;
        border: solid 1px #0a1823;
        background-color: transparent;
        box-sizing: border-box;
        line-height: 1;
        padding: 12px;
        border-radius: 4px;
        font-family: 'Maven Pro', sans-serif;
    }

    label.field input::placeholder, label.field textarea::placeholder{
        color: rgb(100, 99, 99);
    }

    label.field input:focus, label.field textarea:focus {
        outline: none;
        box-shadow: 0rem 0.1rem 0.2rem #0a1823;
    }

    label.field.half-width.half-width-left {
        margin-right: 15px;
    }

    label.field.half-width.half-width-right {
        margin-left: 15px;
    }

    label.field textarea {
        line-height: 1.2em;
        resize: none;
    }

    label.field.half-width {
        width: calc(50% - 15px);
    }



}

input, textfield:focus{
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(#0a1823);
}

.sendButton{
    border-radius: 4px;
    border: 2px solid #000;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    border-radius: 4px;
    background-color: transparent;
    padding: 22px 30px;
    transition: all 0.5s;
    display: inline-block;
    position: relative;
}

.sendButton:after{
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 17px;
    right: -20px;
    transition: 0.5s;
    font-size: 28px;
}

.sendButton:hover{
    border-radius: 0px;
    border:2px solid #fff;
    background-color: #0a1823;
    color:#fff;
    padding-right: 24px;
    padding-left:8px;
}

.sendButton:hover:after{
        opacity: 1;
        right: 60px;
}

.icon-img{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.icon-img:hover{
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.github-img:before{
    content: '\f09b';
    color: #fff;
    font-size: 60px;
    font-family: fontAwesome;
    line-height: 40px;
}

.linkedin-img:before{
    content: '\f08c';
    color: #fff;
    font-size: 60px;
    font-family: fontAwesome;
    line-height: 40px;
}

.linkImages{
    display: flex;
    letter-spacing: 30px;
    cursor: pointer;
}

.qualities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

.qualityCircle{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
    position: relative;
} 

.qualityText{
    text-align: center;
    width: 140px;
    margin: 0px;
}

.quality-container{
    margin:0 auto;
}

.qualityCircle::after{
    color: #470101;
    font-family: fontAwesome;
    font-size: 4em;
    margin: 23%;
    position: absolute;
}



.option1::after{
    content: '\f201';
    
}

.option2::after{
    content: '\f0db';
}

.option3::after{
    content: '\f1fc';
}

.option4::after{
    content: '\f2d6';
}

.skillSection{
    background: #242d34;
    color: #fff;
    padding-top: 20px;
    border-radius: 0px;
    height: 100vh;
}

.cImage{
    display: none;
}

@media(max-width: 900px){
    .personalImg{
        width: 290px;
        height: 600px;
    }
}

@media(max-width: $desktop-breakpoint){

    .spacetop{
        margin-top: 0em; 
    }

    .contact-page, .aboutme, .portfolio, .blog{
        .wrap>.intro-header{
            display: block;
        }

        .form-container{
            padding: 30px;


            form label.field.half-width.half-width-right {
                margin-left: 0px;
            }

            form label.field.half-width.half-width-left {
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        .contact-page .intro-header h1 {
            font-size: 50px;
            
        }

        .linkedin-img:before{
            font-size: 40px;
        }

        .github-img:before{
            font-size: 40px;
        }
    }

    .pImage{
        display: none;
    }

    .cImage{
        display: block;
    }

    .qualities{
        display: none;
    }

}