//rem sizing is better for accessibility

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Maven Pro', sans-serif;
    font-size: $m-size;
    background-color: white;
    min-height: 100vh;
    color: white;
}



button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}

.isActive{
    font-weight: bold
}

NavLink{
    margin: 1rem;
}

hr{
    width: 50%;
}

//Text and font sizes

h1{
    font-size: 8.8rem;
}

h2{
    font-size: 6.0rem;
}